<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active fs-3" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#binario"
            type="button" role="tab" aria-selected="true">Decimal a Binario</button>
        <button class="nav-link fs-3" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#decimal" type="button"
            role="tab" aria-selected="false">Binario a Decimal</button>
    </div>
</nav>
<div class="tab-content mt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="binario" role="tabpanel" aria-labelledby="nav-home-tab">
        <form action="/calcularBinario" method="POST">
            <div class="container">

                <div class="mb-3">
                    <label class="col-form-label fs-5">Ingrese un número decimal:</label>
                    <input type="text" class="form-control" name="numeroBinario" id="numeroBinario" autocomplete="off">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3 fs-4">Transformar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="decimal" role="tabpanel" aria-labelledby="nav-profile-tab">
        <form action="/calcularDecimal" method="POST">
            <div class="container">

                <div class="mb-3">
                    <label class="col-form-label fs-5">Ingrese un número binario:</label>
                    <input type="text" class="form-control" name="numeroDecimal" id="numeroDecimal" autocomplete="off">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3 fs-4">Transformar</button>
                </div>
            </div>
        </form>
    </div>
</div>